input[type="number"] {
  max-width: 80%;
}

input[type=checkbox] {
                    transform: scale(0.8);
           }

.leaflet-container {
  background-color: #F5F5F6;
}

.panel {
  padding: 2px;
  border: none;
  background-color: #ffffff;
  max-width: 750px;
  margin: auto;
  }

.outer {
  top: 40px;
  left: 0;
  right: 0;
  bottom: 0;
}

/* main tab fluidRow with content, i.e. not header separating rows */
.content-row {
  margin-top: 0.5em;
}

body, label, input, button, select {
  font-family: 'Helvetica Neue', Helvetica;
  font-weight: 400;
}

h1, h2 {
  font-weight: 400;
  /*color: #861B58;*/
  /*color: #002649;*/
  color: #A51E36;
}
p {
  color: #002649;
}
h4, h3 {
  font-size: 125%;
  color: #002649;
  }
h5 {
  color: #002649;
  }
.popover {
  color: #002649;
  }
a{
   text-decoration: none;
        }

#mapPanel {
  right: auto;
}
#barplotPanel1 {
  left: -25px;
}

#barplot1 {
  cursor: pointer;
}
#dataTable {
  font-size: 95%;
}
#cite {
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-size: 12px;
}

/* Navbar styling */
.navbar {
  background-color: white;
  color: #A51E36;
  font-weight:bold;
}
.navbar-default .navbar-brand:hover {
  color:  #A51E36;
}
.navbar-default .navbar-brand {
  color: #A51E36;
  font-weight:bold;
}
.navbar-default .navbar-nav >  li > a {
  background-color: white;
  color: #A51E36;
  font-weight:bold;
}
.navbar-default .navbar-nav > li > .active > a {
  background-color: #A51E36;
  color: white ;
  font-weight:bold;
}

